.debug {
    border: 1px red solid;
}

[class^="col"] {
    background-color: dodgerblue;
    color: #fff;
    border: 1px solid #fff;
    text-align: center;
    min-height:80px;
    padding: 20px;
}

.nested {
    background-color: rgb(126, 126, 126);
}
    



.col-large {
    height: 160px;
}



