.debug {
    border: 1px red solid;
}

[class^="col"] {
    background-color: dodgerblue;
    padding: 20px;
    color: #fff;
    border: 1px solid #fff;
    text-align: center;
    height:80px;
}

.nested {
    background-color: rgb(126, 126, 126);
    height: 100%;
}

.h-500 {
    /* height: 500px; */
}

.col-large {
    height: 160px;
}

